.app {
  width: 90vw;
  margin: 40px auto;
}

.forms {
  display: flex;
}

.forms > * {
  width: 50%;
}

* {
  box-sizing: border-box;
}

.onlyActive {
  cursor: pointer;
  display: inline-block;
  margin: 20px 0;
  padding: 5px;
  background: #faa;
  border-radius: 3px;
}

.onlyActive:hover {
  background: #ff7474;
}